Reply.Iveco.LeadManagement/Reply.Iveco.LeadManagement.Web.UI.Test/Service References/LeadManagementService/LeadManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="LeadManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:29540/services/LeadManagementService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:29540/services/LeadManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:29540/services/LeadManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Reply.Iveco.LeadManagement.Presenter.Model" />
      <xsd:import schemaLocation="http://localhost:29540/services/LeadManagementService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Reply.Iveco.LeadManagement.Presenter" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILeadManagementService_SetAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAppointment" />
  </wsdl:message>
  <wsdl:message name="ILeadManagementService_SetAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="ILeadManagementService_GetCalendar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendar" />
  </wsdl:message>
  <wsdl:message name="ILeadManagementService_GetCalendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarResponse" />
  </wsdl:message>
  <wsdl:message name="ILeadManagementService_SetDealer_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDealer" />
  </wsdl:message>
  <wsdl:message name="ILeadManagementService_SetDealer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDealerResponse" />
  </wsdl:message>
  <wsdl:portType name="ILeadManagementService">
    <wsdl:operation name="SetAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadManagementService/SetAppointment" message="tns:ILeadManagementService_SetAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadManagementService/SetAppointmentResponse" message="tns:ILeadManagementService_SetAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalendar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadManagementService/GetCalendar" message="tns:ILeadManagementService_GetCalendar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadManagementService/GetCalendarResponse" message="tns:ILeadManagementService_GetCalendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDealer">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadManagementService/SetDealer" message="tns:ILeadManagementService_SetDealer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadManagementService/SetDealerResponse" message="tns:ILeadManagementService_SetDealer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicBind" type="tns:ILeadManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetAppointment">
      <soap:operation soapAction="http://tempuri.org/ILeadManagementService/SetAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalendar">
      <soap:operation soapAction="http://tempuri.org/ILeadManagementService/GetCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDealer">
      <soap:operation soapAction="http://tempuri.org/ILeadManagementService/SetDealer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LeadManagementService">
    <wsdl:port name="basicBind" binding="tns:basicBind">
      <soap:address location="http://localhost:29540/services/LeadManagementService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>